@import url('https://fonts.googleapis.com/css2?family=Ubuntu&display=swap');

.App {
  text-align: center;
  height: 100vh;
  width: 100vw;
}

*, html, body {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: 'Ubuntu', sans-serif;
}

.btn {
  background-color: #005E36;
  padding: 0.25rem 0.5rem;
  color: white;
  border: 1.5px solid white;
  cursor: pointer;
  border-radius: 0.5rem;
  font-size: 1.2rem;
  font-weight: 600;
}